---
import BaseHead from "@/components/BaseHead.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import { siteConfig } from "@/site-config";
import type { SiteMeta } from "@/types";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<html class="scroll-smooth" lang={siteConfig.lang}>
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
	</head>
	<body class="min-h-screen bg-bgColor">
		<ThemeProvider />
		<main id="main">
			<slot />
		</main>
	</body>
</html>
